<div class="footer">
    <div class="row">
        <div class="col-md-2">
            <img class="footerLogo" src="../../../assets/images/logo.jpg" alt="">
        <p>Shafi Urdu Library Ekhatha Madhubani</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
            <dl>
                <dt>Learn</dt>
                <dd>About Us</dd>
                <dd>Legal & Privacy</dd>
                <dd>Support</dd>
                <dd>Tearms & Condition</dd>
            </dl>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
            <dl>
                <dt>Service</dt>
                <dd routerLink="/book_management">Books</dd>
                <dd>Events</dd>
                <dd>Latest Exams</dd>
                <dd>Our Team</dd>
            </dl>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
            <dl>
                <dt>Contact</dt>
                <dd>+91 xxxxxxxxxx</dd>
                <dd>contact@ShafiUrduLibrary</dd>
                <dd>Ekhatha , Madhubani Bihar (847227)</dd>
                <dt>Community</dt>
                <dt><i class="socialIcon fa fa-facebook"></i>
                    <i class="socialIcon fa fa-twitter"></i>
                    <i class="socialIcon fa fa-paper-plane"></i>
                    <i class="socialIcon fa fa-instagram"></i>
                    <i class="socialIcon fa fa-youtube"></i>
                 </dt>
            </dl>
        </div>
    </div>
    <div class="allRightReserve">
        <span>@ShafiUrduLibrary-All rights reserved 2021</span>
    </div>
</div>