<div class="mainDiv">
    <div class="innerSection">
        <div class="with-30">
            <div class="bookListHeading text-center"><h1><i style="color: green" class="fa fa-book" aria-hidden="true"></i>Books Name</h1></div>
               <div style="overflow-y: scroll;height: 89vh;">
                <div class="bookName" *ngFor="let item of booksBank ; let i = index" (click)="booksDetails(item.title , i+1)"><span>{{item?.title}}</span>  <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
               
               </div>
               
            
        </div>
        <div class="with-70">
               <div class="content">
                <table>
                    <tr>
                        <th>Title</th>
                        <td>:</td>
                        <td>{{booksDetail?.title}} </td>
                    </tr>
                    <tr>
                        <th>Auther NAme</th>
                        <td>:</td>
                        <td>{{booksDetail?.author}} </td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td>:</td>
                        <td>{{booksDetail?.language}} </td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>:</td>
                        <td>{{booksDetail?.country}} </td>
                    </tr>
                    <tr>
                        <th>Number of Page</th>
                        <td>:</td>
                        <td>{{booksDetail?.pages}} </td>
                    </tr>
                   
                    
                </table>
                <img src="booksDetail?.imageLink" alt="">
               </div>
        </div>
    </div>
</div>