<div class="dashboard">
    <div class="banner">
        <img class="bannerimg" src="../../../assets/images/banner1.jpg" alt="">
        <h1>Shafi Urdu Library</h1>
    </div>
    <div class="col-md-12 row announcement">
        <div class="col-md-6 announcementItem">

            <i class="fa fa-bullhorn"></i>
            <marquee direction="left">
                This is a sample scrolling text that has scrolls texts to right.
            </marquee>
            <span class="more">more</span>

        </div>
    </div>
    <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
    <br>
    <hr>
    <div class="row" #content>
        <!-- <div class="col-md-3 advertizement">
            <img src="../../../assets/images/adv1.jfif" alt="" class="adv">
        </div>
        <div class="col-md-3 advertizement">
            <img src="../../../assets/images/adv2.jfif" alt="" class="adv">
        </div>
        <div class="col-md-3 advertizement">
            <img src="../../../assets/images/adv3.jfif" alt="" class="adv">
        </div>
        <div class="col-md-3 advertizement">
            <img src="../../../assets/images/adv4.jfif" alt="" class="adv">
        </div> -->

       
        <div id="content" >
            <div class="col-md-6 container " style="   border: 1px solid black;
        padding: 13px;    display: flex;
    justify-content: space-around;    box-shadow: 0px 0px 10px;

        line-height: 30px;" *ngFor="let item of studentData">
                <table>
                    <tr>
                        <td><span style="font-weight: 500;">Name:-</span> {{item.Name}}</td>
                        <td style="padding-left: 35px;"><span style="font-weight: 500;">Father's Name :-</span>
                            {{item.Father_Name}}</td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: 500;">Class:-</span> {{item.Class}}</td>
                        <td style="padding-left: 35px;"><span style="font-weight: 500;">Gender :-</span> {{item.Gender}}
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-weight: 500;">Participate in :-</span> {{item.Want_to_participate_in}}
                        </td>
                        <td style="padding-left: 35px;"><span style="font-weight: 500;">Age :-</span> {{item.Age}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>