.row {
    margin-right: 0px;
    margin-left: -15px;
}
.bannerimg{
    height: 100vh;
    width: 100%;
    margin-bottom: 2px;
}
.announcement{
    display: flex;
    justify-content: center;
    padding:10px;
}
.announcementItem{
    display: flex;
}
.more{
    color: blue;
    font-weight: 600;
}
.more:hover{
    cursor: pointer;
    color: rgb(94, 94, 250);
}